<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Waldo</title>
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,700'
    rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/app.js"></script>

  </head>
  <body>
    <div id="content">
      <h1>Waldo Monitor</h1>

      <div class="stats">
        <div class="block">
          <div id="req-sec" class="lg">
          -
          </div>
          Requests / sec
        </div>


        <div class="block">
          <div id="total-req" class="lg">
          -
          </div>
          Total Requests
        </div>


        <div class="block">
          <div id="load-100" class="lg">
          -
          </div>
          Last 500 Requests
        </div>

        <div class="block">
          <div id="load-50" class="lg">
          -
          </div>
          Last 50 Requests
        </div>
      </div>

      <div class="stat">
        
      </div>
    </div>
  </body>
</html>
